.article {
    text-align: center;
}

.articlee {
    font-size: 15px;
    text-align: center;
}

.wallpaper {
    border-style: solid;
    border-radius: 11px;
    padding-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(166, 196, 230);
    padding: 10px;
}

.grid-item {
    background-color: rgba(129, 216, 243, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

footer {
    position: relative;
    background-color: #ffd620ab;
    color: white;
}

.grid-box {
    display: grid;
    grid-template-columns: auto auto auto;
}

.footimage {
    margin: auto;
    width: 20%;
}